/* 
7. Добавить резюме на английском языке
11. В описании файла редми дать ссылки на рефы.
12. Написать рассказ про концепцию дизайна этого сайта.
//16. Яндекс метрику прикрутить
18. Поправить семантику html вёрстки
19. Кнопка день/ночь. Там где сейчас треуголькни. А может и вместо.
20. Докидать ссылки на проекты. Сделать их как в CV
21. Проверить грамотность.
22. Настроить иконку при поисковой выдачи.
//23. Иконка в посте социальных сетей.
//24. Поправить типографику.
25. Анимация цвета фона. Плавная.

- хотел шрифт Futura, но бесплатный только Жозефина
- хотел, чтобы заголовок карточки тоже был радужный,
но пришлось оставить как есть из-за риска,
что на других браузерах заголовок может пропасть Мазила привет!
- не знаю что делать с лого
*/

@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --gap: 40px;
  --color-bg: #353636;
  --color-bg-card: #303131;
  --color-text: #f2f0eb;
  --color-text-second: #B2B2AF;
  --color-card-title-1: #FF6666;
  --color-card-title-2: #55D7D7;
  --color-card-title-3: #f6c562;
  --color-cv-eng: #BE5D77;
  --color-cv-rus: #5199ff;
  --color-ref-git: #6e5494;
  --color-ref-face: #3b5998;
  --color-ref-telega: #0088cc;
  --color-ref-linked: #dd5143;
  --text-h1: 72px;
  --text-h1-sub: 20px;
  --text-header-card: 16px;
  --text-footer: 14px;
  --text-h2: 52px;
  --text-section: 20px;
  --text-card-title: 24px;
}

@media (prefers-color-scheme: light){
:root {
  --color-bg: #BCBEC0;
  --color-bg-card: #969799;
  --color-text: #27272A;
  --color-text-second: #4D4B4C;
  --color-ref-git: #6cc644;
  --color-card-title-1: #420000;
  --color-card-title-2: #004242;
  --color-card-title-3: #422C00;
  }
}

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  background: var(--color-bg);
  font-size: var(--text-header-card);
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
  }

body {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 var(--gap);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  position: fixed;
  width: calc(100% - var(--gap) * 2);
  max-width: 1200px;
  box-sizing: border-box;
  background: var(--color-bg);
  font-size: var(--text-header-card);
  z-index: 1;
  display: flex;
  align-items: end;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-logo {
  height: 36px;
  width: 36px;
  background-image: url(/image/logo3.svg);
  margin-right: auto;
  opacity: 0.15;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-logo:hover {
  opacity: 1;
}

.header-ref {
  margin-right: 10px;
  color: var(--color-text-second);
  text-decoration: none;
  position: relative;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.header-ref:hover {
  color: var(--color-text);
}

.header-ref:last-child {
  margin-right: 0;
}

.git:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.git::after {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-ref-git);
  z-index: -1;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .7s ease;
  -o-transition: transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .6s ease;
}

.face:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.face::before {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-ref-face);
  z-index: -1;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .7s ease;
  -o-transition: transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .6s ease;
}

.linked:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.linked::before {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-ref-linked);
  z-index: -1;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .7s ease;
  -o-transition: transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .6s ease;
}

.telega:hover:before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.telega::before {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  content: " ";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-ref-telega);
  z-index: -1;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .7s ease;
  -o-transition: transform .7s ease;
  transition: transform .7s ease;
  transition: transform .7s ease, -webkit-transform .6s ease;
}

.small {
  display: none;
}

.main-section {
  color: var(--color-text);
  height: 100vh;
  max-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-text {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--text-h1);
  line-height: 1.1;
  text-align: center;
  font-weight: 500;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.1);
}

.main-text-sub {
  font-size: var(--text-h1-sub);
  text-align: center;
  font-weight: 500;
  letter-spacing: 2.5px;
}

.main-text-span {
  -webkit-animation: 15s ease 0s normal forwards infinite blurbyfilter;
          animation: 15s ease 0s normal forwards infinite blurbyfilter;
}

@-webkit-keyframes blurbyfilter {
  0% { -webkit-filter:blur(); filter:blur(); opacity:0; }
  10% { -webkit-filter:blur(8px); filter:blur(8px); opacity: 0.2; }
  20% { -webkit-filter:blur(1px); filter:blur(1px) }
  50% { -webkit-filter:blur(); filter:blur(); opacity: 0,8; }
  80% { -webkit-filter:blur(); filter:blur(); opacity:1; }
  100% { -webkit-filter:blur(4px); filter:blur(4px); opacity:0; }
}
@keyframes blurbyfilter {
  0% { -webkit-filter:blur(); filter:blur(); opacity:0; }
  10% { -webkit-filter:blur(8px); filter:blur(8px); opacity: 0.2; }
  20% { -webkit-filter:blur(1px); filter:blur(1px) }
  50% { -webkit-filter:blur(); filter:blur(); opacity: 0,8; }
  80% { -webkit-filter:blur(); filter:blur(); opacity:1; }
  100% { -webkit-filter:blur(4px); filter:blur(4px); opacity:0; }
}

.section {
  padding: 60px 0;
  color: var(--color-text);
}

.section-title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: var(--text-h2);
  margin: 0 0 26px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2), -2px -1px 4px rgba(255, 255, 255, 0.1);
}

.section-text {
  margin: 0 0 5px 0;
  font-size: var(--text-section);
}

.section-ref {
  color: var(--color-text-primary);
  text-decoration: none;
  position: relative;
}

.rus::after {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  content: "";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-cv-rus);
  z-index: -1;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  -o-transition: transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

.rus:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.eng:after {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  content: "";
  display: block;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  inset: 0 0 0 0;
  background: var(--color-cv-eng);
  z-index: -1;
  -webkit-transition: -webkit-transform .6s ease;
  transition: -webkit-transform .6s ease;
  -o-transition: transform .6s ease;
  transition: transform .6s ease;
  transition: transform .6s ease, -webkit-transform .6s ease;
}

.eng:hover::after {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
      -ms-transform-origin: bottom left;
          transform-origin: bottom left;
}

.grid {
  margin-top: 38px;
  display: grid;
  display: -ms-grid;
  grid-column-gap: calc(var(--gap) / 2);
  grid-row-gap: calc(var(--gap) / 2);
}

.grid-ratio{
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  display: block;
  padding: 26px 20px 20px;
  background: var(--color-bg-card);
  border-radius: 6px;
  color: var(--color-text-primary);
  text-decoration: none;
  position: relative;
}

.card:after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: blur(50px);
          filter: blur(50px);
  background-image: -webkit-gradient(
    linear
    , left top, left bottom
    , from(var(--rotate))
    , color-stop(#F69C9C), color-stop(43%, #89D7D7), to(#F6D89C));
  background-image: -o-linear-gradient(
    var(--rotate)
    , #F69C9C, #89D7D7 43%, #F6D89C);
  background-image: linear-gradient(
    var(--rotate)
    , #F69C9C, #89D7D7 43%, #F6D89C);
  /* opacity: 1; */
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  opacity: 0;
}

.card:before {
  content: "";
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  border-radius: 8px;
  background-image: -webkit-gradient(
    linear
    , left top, left bottom
    , from(var(--rotate))
    , color-stop(#F66262), color-stop(43%, #55D7D7), to(#F6C562));
  background-image: -o-linear-gradient(
    var(--rotate)
    , #F66262, #55D7D7 43%, #F6C562);
  background-image: linear-gradient(
    var(--rotate)
    , #F66262, #55D7D7 43%, #F6C562);
  position: absolute;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
  z-index: -1;
  top: -2px;
  left: -2px;
  -webkit-animation: spin 5s linear infinite;
          animation: spin 5s linear infinite;
  opacity: 0;
}

.card:hover:before {
  opacity: 1;
}

.card:hover:after {
  opacity: 1;
}

@-webkit-keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

.card-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: var(--text-card-title);
  font-weight: 400;
  margin: 0 0 10px 0;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
}

.card-text {
  font-family: 'Montserrat', sans-serif;
  font-size: var(--text-header-card);
  margin: 0 0 8px 0;
  -webkit-transition: color .4s ease;
  -o-transition: color .4s ease;
  transition: color .4s ease;
  color: var(--color-text-second);
}

.card:hover .card-text {
  color: var(--color-text);
}

.card-text:last-child {
  margin: 0;
}

.first:hover {
  color: var(--color-card-title-1);
}

.second:hover {
  color: var(--color-card-title-2);
}

.third:hover {
  color: var(--color-card-title-3);
}

.footer {
  width: 100%;
  box-sizing: border-box;
  padding: 18px 0 30px;
  font-size: var(--text-footer);
  color: var(--color-text-second);
}

@media screen and (max-width: 960px) {
  .grid-ratio {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 660px) {
  .grid-ratio {
    grid-template-columns: 1fr;
  }

  .header-ref {
    margin-right: 2px;
  }
}

@media screen and (max-width: 550px) {
  .small {
    display: inline;
  }
  .big {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --text-h1: 60px;
    --text-h1-sub: 18px;
    --text-h2: 44px;
    --text-section: 18px;
    --gap: 20px;
  }

  .header-ref {
    margin-right: 0;
  }
}